<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro - fornecedor</title>

    <link rel="stylesheet" href="../node_modules/w3-css/3/w3.css">
    <script src="https://kit.fontawesome.com/568a96625b.js" crossorigin="anonymous"></script>
    <script src="../js/escript.js"></script>

</head>

<body>
    <h1 class="text-center">Cadastro de Fornecedor:</h1>
    <p>Preencha os dados por favor:</p>
    <form action="" method="POST">
        <label for="nome">Nome da empresa:</label>
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome" class="w3-input" required />

        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" id="endereco" placeholder="Digite o endereço da empresa" class="w3-input"
            required />

        <label for="complemento">Complemento:</label>
        <input type="text" name="complemento" id="complemento" placeholder="Digite o complemento (Número/Aptº)"
            class="w3-input" required />

        <label for="cep">Cep:</label>
        <input type="text" name="cep" id="cep" placeholder="Digite o cep da empresa" class="w3-input" required />

        <label for="cidade"> Cidade:</label>
        <select name="cidade" id="cidade" class="w3-select" required>
            <option value="">Selecione</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>

        <label for="telefone">Telefone:</label>
        <input type="tel" name="telefone" id="telefone" placeholder="Digite o telefone da empresa" class="w3-input"
            required />

        <input type="submit" value="Cadastrar" class="w3-btn w3-green" />
    </form>

</body>

</html>