<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro - Funcionarios</title>

    <link rel="stylesheet" href="../node_modules/w3-css/3/w3.css">
    <script src="https://kit.fontawesome.com/568a96625b.js" crossorigin="anonymous"></script>
    <script src="../js/escript.js"></script>

</head>

<body>
    <h1 class="text-center">Cadastro de Funcionarios:</h1>
    <p>Escolha o método de entrada:</p>
    <a href="" class="w3-btn w3-blue">Entre com o Facebook <i class="fab fa-facebook-f"></i></a>
    <a href="" class="w3-btn w3-blue">Entre com o Gmail <i class="fas fa-envelope"></i> </a>
    <a href="cadastro-funcionario.html" class="w3-btn w3-blue">Entre com o Padrão <i class="fas fa-sign-in-alt"></i></a>
</body>

</html>